* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  .btn:hover {
    background-color:#9b7239;
    border-color: #9b7239;
  }
  .btn {
    background-color: #9b7239;
    color: rgb(212, 224, 212);
    border-color: #9b7239;
  }
  .btn-primary {
    color: rgb(212, 224, 212);
    background-color: #9b7239;
    border-color: #9b7239;
}

