* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  .btn:hover {
    background-color: rgb(3, 56, 29);
    border-color: rgb(3, 56, 29);
  }
  .btn {
    background-color: rgb(3, 56, 29);
    color: rgb(212, 224, 212);
    border-color: rgb(3, 56, 29);
  }
  .btn-primary {
    color: rgb(212, 224, 212);
    background-color: rgb(3, 56, 29);
    border-color: rgb(3, 56, 29);
}

